{% extends "layout.twig" %}
{% import "macros/form.twig" as form %}

{% block title %}{{ 'credentials.title'|trans }}{% endblock %}
{% block content %}
			<div class="jumbotron">
				<div class="container text-center">
					<h1><i class="fas fa-user"></i> {{ 'credentials.header'|trans }}</h1>
					<p>{{ 'credentials.text'|trans }}</p>
				</div>
			</div>

			<div class="container">
				<form action="" method="post" class="center-form" id="update" role="form">
					{{ form.csrf_field(csrf) }}

{% if not token %}
                    {{ form.field({name: 'name', placeholder: 'base.name'|trans, value: result.name, required: true, autofocus: true}) }}

                    {{ form.field({name: 'username', placeholder: 'base.username'|trans, value: result.username, required: true}) }}

                    {{ form.field({name: 'email', placeholder: 'base.email'|trans, type: 'email', value: result.email, required: true}) }}
{% endif %}

                    {{ form.field({name: 'password', placeholder: 'base.password'|trans, type: 'password', required: true}) }}

                    {{ form.field({name: 'rep_password', placeholder: 'base.repeat-password'|trans, type: 'password', required: true}) }}

                    <p class="col-xs-12 text-center text-red hidden" id="password_error"><strong>{{ 'base.password-different'|trans }}</strong></p>

					<div class="row">
						<div class="col-xs-12 col-md-3 col-md-push-9">
							<button class="btn btn-block btn-success" type="submit" id="button"><i class="fas fa-check"></i> {{ 'base.save'|trans }}</button>
						</div>
						<div class="col-xs-12 col-md-9 col-md-pull-3">
							<p>{{ 'base.password-strength'|trans }}</p>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" id="password_bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
									<span id="password_text"></span>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
{% endblock %}
{% block scripts %}
		<script src="{{ asset('js/jquery.complexify.min.js') }}"></script>
		<script>
		$(document).ready(function() {
			function check() {
				if ($("#password").val() != $("#rep_password").val()) {
					$("#password_error").removeClass("hidden");
					return false;
				} else {
					$("#password_error").addClass("hidden");
					return true;
				}
			}

			$("#password, #rep_password").keyup(function() {
				check();
			});

			$("#update").submit(function() {
				return check();
			});

			$("#password").complexify({}, function(valid, complexity) {
				var progressBar = $("#password_bar");

				progressBar.toggleClass("progress-bar-success", complexity > 90);
				progressBar.toggleClass("progress-bar-info", complexity > 60 && complexity < 90);
				progressBar.toggleClass("progress-bar-warning", complexity > 30 && complexity < 60);
				progressBar.toggleClass("progress-bar-danger", complexity < 30);
				progressBar.css({
					"width": complexity + "%"
				});

				if (complexity > 90) {
					$("#password_text").html("Molto sicura");
				} else if (complexity > 60) {
					$("#password_text").html("Sicura");
				} else if (complexity > 30) {
					$("#password_text").html("Media");
				} else {
					$("#password_text").html("Insicura");
				}
			});
		});
	</script>
{% endblock %}
