{% extends "layout.twig" %}

{% block title %}{{ 'logins.title'|trans }}{% endblock %}
{% block content %}
			<div class="jumbotron">
				<div class="container text-center">
					<h1><i class="fas fa-wrench"></i> {{ 'logins.header'|trans }}</h1>
					<p>{{ 'logins.text'|trans }}</p>
				</div>
			</div>
			<div class="container">
				<table class="table table-hover scroll">
					<thead>
						<tr>
							<th>{{ 'base.username'|trans }}</th>
							<th>{{ 'base.info'|trans }}</th>
							<th>{{ 'base.IP-address'|trans }}</th>
							<th>{{ 'base.date'|trans }}</th>
						</tr>
					</thead>
					<tbody>
{% for result in results %}
						<tr>
                            <td><a href="{{ route('profile', {'locale': locale, 'id': result.user.id }) }}">{{ result.user.name }}</a></td>
							<td>{{ result.browser }}</td>
							<td>{{ result.address }}</td>
							<td>{{ result.created_at }}</td>
						</tr>
{% endfor %}
					</tbody>
				</table>
                {{ results.links()|raw }}
				<p>{{ 'logins.total'|trans }}: {{ results|length }}</p>
				<p><a href="{{ route('reset-logins', {'locale': locale}) }}" class="btn btn-danger">{{ 'logins.reset'|trans }}</a></p>
			</div>
{% endblock %}
