{%- macro field(options = { name: null, type: 'text', value: null, placeholder: null, class: null, id: null, required: false, autofocus: false, disabled: false, form_horizontal: false, label: null, sr_only: false }) -%}
    {% import _self as self %}
    {% set options = options|merge({name: options.name|replace({' ': '_'})}) %}
    {% set options = options|merge({value: options.value|default('')}) %}
    {% if not options.label %}{% set options = options|merge({label: options.placeholder}) %}{% endif %}
    {% if not options.form_horizontal %}{% set options = options|merge({sr_only: true}) %}{% endif %}
    {%- if not options.id %}{% set options = options|merge({id: options.name|replace({'[': '', ']': ''})}) %}{% endif %}

			<div class="form-group">
                <label class="{% if options.sr_only %}sr-only{% else %}control-label{% if options.form_horizontal %} col-xs-12 col-sm-2{% endif %}{% endif %}" for="{{ options.id }}">{{ options.label }}{% if options.required %}*{% endif %}
</label>
	{%- if options.form_horizontal %}


                <div class="col-xs-12 col-sm-10">
	{%- endif %}

	{%- if options.type == 'select' %}

				{{ self.select(options) }}
	{%- elseif options.type == 'textarea' %}

				{{ self.textarea(options) }}
	{%- else %}

				{{ self.input(options) }}
	{%- endif %}

	{%- if options.form_horizontal %}
                </div>
{% endif %}
            </div>
{% endmacro %}


{% macro input(options = { name: null, type: 'text', value: null, placeholder: null, class: null, id: null, required: false, autofocus: false, disabled: false }) %}
<input class="form-control {{ options.class }}" type="{{ options.type }}" id="{{ options.id }}" name="{{ options.name }}" placeholder="{{ options.placeholder }}" value="{{ options.value }}"{% if options.disabled %} disabled{% endif %}{% if options.autofocus %} autofocus{% endif %}{% if options.required %} required{% endif %}{% if options.step %} step="{{ options.step }}"{% endif %}>
{% endmacro %}


{% macro textarea(options = { name: null, value: null, placeholder: null, class: null, id: null, required: false, autofocus: false, disabled: false }) %}
            <textarea class="form-control {{ options.class }}" type="{{ options.type }}" id="{{ options.id }}" name="{{ options.name }}" placeholder="{{ options.placeholder }}"{% if options.disabled %} disabled{% endif %}{% if options.autofocus %} autofocus{% endif %}{% if options.required %} required{% endif %}>{{ options.value }}</textarea>
{% endmacro %}


{%- macro csrf_field(csrf) -%}
<input type="hidden" name="{{ csrf.getTokenNameKey() }}" value="{{ csrf.getTokenName() }}"><input type="hidden" name="{{ csrf.getTokenValueKey() }}" value="{{ csrf.getTokenValue() }}">
{%- endmacro -%}


{% macro select(options = { name: null, value: null, placeholder: null, class: null, id: null, required: false, autofocus: false, disabled: false, multiple: false, values: {} }) %}
            <select class="form-control {{ options.class }}" id="{{ options.id }}" name="{{ options.name }}" placeholder="{{ options.placeholder }}" {%- if options.disabled %} disabled{% endif %} {%- if options.autofocus %} autofocus{% endif %} {%- if options.required %} required{% endif %} {%- if options.multiple %} multiple{% endif %}>
{% if options.include_blank %}
                    <option disabled selected></option>
{% endif %}
{% for item in options.values %}
                    <option {%- if options.value is iterable %}
                    {% for row in options.value %}
                        {% if item.id == row.id %} selected{% endif %}
                    {% endfor %}
                    {% elseif item.id == options.value %} selected{% endif %} value="{{ item.id }}">{{ item.name }}{% if item.surname %} {{ item.surname }}{% endif %}</option>
{% endfor %}
            </select>
{% endmacro %}
